@import './Login.css';

/* Grid layout for First Name and Last Name */
.form-grid-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media (max-width: 600px) {
  .form-grid-columns {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
